<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        {{!-- {{> socialLinks}} --}}
        {{> navbar}}
    </div>
</nav>
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('/assets/img/city.jpg'); "></div>
    <div class="main main-raised">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 "></div>
        <div class="profile-content">
            {{!-- <h3 class="title">{{ title }}</h3> --}}
            
            <div class="container">
            {{#if error}}
            <div class="alert alert-info">
                <div class="container-fluid">
                    <div class="alert-icon">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true"><i class="material-icons">clear</i></span>
                    </button>
                    <b>{{errormessage}}</b>
                </div>
            </div>
            {{/if}}
            {{!-- <button class="btn btn-primary btn-round" id="logoutButton">Logout</button>
            <button class="btn btn-primary btn-round" id="profileButton">Profile</button> --}}
            <div class="section text-center">
                <h2 class="title">{{title}}</h2>
                <div class="card-body">
                    <div class="card-body">
                        {{!-- <a href="/productshomemg" class="btn btn-info">volver</a> --}}
                    </div>
                    <form class="form" method="" action="">
                        <div class="togglebutton">
                            <label>
                                <input type="checkbox" {{#if isPremium}}checked="" {{/if}}>
                                User Premium on
                            </label>
                        </div>

                        <div class="container">
                            {{!-- <div class="row">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary btn-round">
                                        <i class="fa fa-play"></i> Sig In
                                    </a>
                                </div>
                            </div> --}}
                                    <a href="/admin/users/{{user._id}}/changerole" class="btn btn-primary btn-round">
                                        <i class="fa fa-play"></i> Commit changes
                                    </a>
                                    <a href="/home" class="btn btn-primary btn-round">
                                        <i class="fa fa-home"></i> Go Home
                                    </a>
                                    
                                </div>
                            </div>
                        </div>

                    </form>
                    
                </div>
                
            </div>
        </div>
        </div>
        
    </div>
</div>

<script>
    document.getElementById('logoutButton').addEventListener('click', function() {
        // Redirige a la ruta /logout
        window.location.href = '/logout';
    });
    document.getElementById('profileButton').addEventListener('click', function() {
        // Redirige a la ruta /profile
        window.location.href = '/profile';
    });
</script>
